fp-info-cache
.\Board2Pdf
*-bak
*_backup
.DS_Store
*-backups
OpenKNXiaO-Mini.kicad_pro
OpenKNXiaO-Mini.kicad_prl
Hardware/EDA-Files/Source/_autosave-KNeoPiX_v1.3.kicad_pcb
Hardware/EDA-Files/Source/~KNeoPiX_v1.3.kicad_sch.lck
Hardware/EDA-Files/Source/~_autosave-KNeoPiX_v1.3.kicad_pcb.lck
Documentation/Renderings/Thumbs.db
Documentation/Renderings/.$info.drawio.bkp
Hardware/EDA-Files/Source/\#auto_saved_files\#
Hardware/EDA-Files/Source/~KNeoPiX_v1.3.kicad_pcb.lck
